/*
 * Copyright (c) 2022 Alexander Noble
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
  font-family: Cantarell;
  font-style: normal italic;
  font-weight: 400 800;
  src: local('Cantarell-VF'), url(css/Cantarell-VF.woff2);
}
