/*!
 * Copyright (c) 2022 Alexander Noble
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import url('css/cantarell.css');
body {
  font-family: Cantarell, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main#container {
  @apply w-full h-full;
}

input[data-invalid="true"] {
  @apply border-red-600;
}
input[data-invalid="true"] ~ #error {
  @apply text-red-600;
}
